#hero {
    background: transparent;
    position: relative;
    padding: 30px 0px;
    background: transparent;
    width: 1300px;
    height: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;


    .images {
        position: relative;
        flex: 1;
        height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;


        .image {
            position: absolute;
            height: 100svh;
            width: 40vmax;
            background: transparent;
            right: 0px;
            display: flex;
            justify-content: right;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(180deg, transparent 80%, var(--bg) 95%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background: transparent;
                right: 0px;
                aspect-ratio: 1;
            }

            &.i169 {
                aspect-ratio: 1/1;
            }
        }
    }

    .title {
        background: transparent;
        flex: 1;

        h1 {
            font-size: 5.5vmax;
            text-wrap: nowrap;

            span {
                color: var(--pri);
            }
        }
        .desc {
            margin-top: 15px;
            font-size: 2.5vmax;
            text-wrap: nowrap;
        }
    }
}


@keyframes float {
    0% {
        translate: -50% -50%;
    }
    50% {
        translate: -50% -55%;
    }
    100% {
        translate: -50% -50%;
    }
}