#hero {
    position: absolute;
    background: var(--bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    .decor {
        position: absolute;
        background: var(--pri);
        aspect-ratio: 1;
        height: 12vmax;
        border-radius: 50%;
        filter: blur(7vmax);
        z-index: 0;
        opacity: 0;
        animation: blob 2s forwards;
    }
    .wrapper {
        position: relative;
        background: transparent;
        display: flex;
        width: 100%;
        max-height: 75%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        .thing {
            position: relative;
            width: 700px;
        }


        .text {
            background: linear-gradient(to top, var(--bg) 80%, transparent );
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding-top: 10px;
            height: 500px;

            h1 {
                color: var(--pri);
                font-size: 120px;
                opacity: 0;
                animation: text 0.5s forwards ease 0.1s;
            }
            h2 {
                margin-top: 15px;
                font-size: 50px;
                opacity: 0;
                animation: text2 0.5s forwards ease 0.3s;
            }
            h3 {
                opacity: 0;
                animation: text3 0.5s forwards ease 0.5s;
            }
        }
        .image {
            height: 400px;
            translate: 0% 20%;
            animation: image 1s forwards ease 0.2s;
            opacity: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

    }
}
@keyframes blob {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes image {
    from {
        translate: 0% 30%;
        opacity: 0;
        rotate: 10deg;
        filter: blur(1vmax);
    }
    to {
        translate: 0% 20%;
        opacity: 1;
        rotate: 0;
        filter: blur(0vmax);
    }
}
@keyframes text {
    from {
        translate: 0% 50%;
        opacity: 0;
        filter: blur(1.5vmax);
    }
    to {
        translate: 0% 0%;
        opacity: 1;
        filter: blur(0vmax);
    }
}
@keyframes text2 {
    from {
        translate: 0% 50%;
        opacity: 0;
        filter: blur(1.5vmax);
    }
    to {
        translate: 0% 0%;
        opacity: 0.8;
        filter: blur(0vmax);
    }
}
@keyframes text3 {
    from {
        translate: 0% 50%;
        opacity: 0;
        filter: blur(1.5vmax);
    }
    to {
        translate: 0% 0%;
        opacity: 0.5;
        filter: blur(0vmax);
    }
}