#navbar.desktop {
    position: fixed;
    top: 0;
    margin-top: 12px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    z-index: 9999;

    .navbarSection {

        h3 {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .navbarLinks {
        display: flex;
        flex-direction: row;

        .button {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: transparent;
            padding: 3px 12px;
            overflow:  hidden;
            transition: var(--F3);

            &:before {
                content: '';
                position: absolute;
                aspect-ratio: 1;
                background: var(--pri);
                height: 32px;
                border-radius: 50% !important;
                translate: -50% -50%;
                top: 100%;
                left: 50%;
                z-index: -1;
                opacity: 0.5;
                scale: 0;
                transition: scale 0.2s ease, opacity 0.3s ease;
            }

            span {
                font-size: 8px;
                margin-right: 8px;
                opacity: 0.5;
                transition: var(--F2);
            }
            h2 {
                font-size: 12px;
                transition: var(--F2);
            }

            &:hover {
                padding: 3px 20px;

                &:before {
                    opacity: 1;
                    scale: 5;
                    transition: scale 0.5s ease, opacity 0.5s ease;
                }
                span {
                    color: black;
                    opacity: 1;
                }
                h2 {
                    color: black;
                    font-weight: 700;
                }
            }
        }
    }
    .navbarDomain {
        color: var(--pri);
        font-size: 16px;
        font-weight: 500;

        span {
            color: var(--pri2);
        }
    }
}