
:root {
       /* Backgrounds */
       --bg: rgb(15, 14, 14);
       --bg2: rgb(31, 30, 30);
       --bgtrans: rgba(0, 0, 0, 0.2);
       --bgtrans2: rgba(255, 255, 255, 0.05);
       --bgtrans3: rgba(255, 255, 255, 0.1);

       /* Text */
       --txt: rgb(255, 255, 255);
       --txt2: rgb(150, 150, 150);

       /* Colors */
       --primary: 236, 39, 39;
       --secondary: 240, 180, 80;
       --pri: rgb(var(--primary));
       --pri2: rgba(var(--primary), 0.2);
       --sec: rgb(var(--secondary));
       --sec2: rgba(var(--secondary), 0.2);
       --on:  rgb(70, 200, 75);
       --warn:  rgb(200, 148, 70);
       --off:  rgb(200, 70, 70);

       /* Border */
       --border: rgba(255,255,255,0.15);

       /* Some important stuff */
       --br: 10px;
}
html {
       touch-action: manipulation;
       background: var(--bg);
       overflow-x: hidden;
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
       border-radius: var(--br);
       box-sizing: border-box;
       font-family: 'dm', sans-serif;
}
a {
       text-decoration: none;
       color: inherit;
}

body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 30px;
       min-height: 100svh;
       overflow-x: hidden;
}

/* Target WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
       width: 1px; /* Adjust width as desired */
}

::selection {
       color: white; /* Change the text color */
       background-color: var(--bgtrans); /* Change the background color */
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}
